node_modules
.pnpm-store
.cursor
coverage
packages/e2e/test-results
packages/e2e/playwright-report
dist/*
!dist/.gitkeep

.vscode/terminals.json

packages/mosaic/dist/*
!packages/mosaic/dist/.gitkeep

packages/storybook/storybook-static

*storybook.log
