node_modules
package-lock.json
coverage
automation_testing/node_modules
automation_testing/test-results
automation_testing/playwright-report
dist/*
!dist/.gitkeep

# Yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Yarn Mosaic Container
.pnp.*
containers/mosaic-sb7/.yarn/*
!containers/mosaic-sb7/.yarn/patches
!containers/mosaic-sb7/.yarn/plugins
!containers/mosaic-sb7/.yarn/releases
!containers/mosaic-sb7/.yarn/sdks
!containers/mosaic-sb7/.yarn/versions
