node_modules
coverage
automation_testing/node_modules
automation_testing/test-results
automation_testing/playwright-report
containers/storybook-5/dist/*
!containers/storybook-5/dist/.gitkeep

# Yarn
.pnp.*
containers/storybook-5/.yarn/*
!containers/storybook-5/.yarn/patches
!containers/storybook-5/.yarn/plugins
!containers/storybook-5/.yarn/releases
!containers/storybook-5/.yarn/sdks
!containers/storybook-5/.yarn/versions

# Yarn Mosaic Container
.pnp.*
containers/storybook-7/.yarn/*
!containers/storybook-7/.yarn/patches
!containers/storybook-7/.yarn/plugins
!containers/storybook-7/.yarn/releases
!containers/storybook-7/.yarn/sdks
!containers/storybook-7/.yarn/versions
